.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
*Rproj
*png
*css
misc

.quarto/
_freeze/
_site/
docs/              # se for gerar docs no CI, pode deixar; localmente é descartável
*.html             # (opcional) se você não quer versionar HTML gerado
